* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f8f8;
    color: #333;
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: hsl(210, 27%, 52%);
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

header p {
    margin-bottom: 15px;
}

header nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
}

header nav a:hover {
    text-decoration: underline;
}

section {
    background-color: white;
    padding: 20px;
    margin: 10px 0;
    border-radius: 10px;
}

h2 {
    margin-bottom: 10px;
    font-size: 1.8em;
    color: #0056b3;
}

.skill-section, .job {
    margin-bottom: 20px;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #0056b3;
    color: white;
    margin-top: 20px;
}
